<div id="left-col">
	<a href="/">Home</a>  &gt;&gt; Contact
	<h2>Contact</h2>
	<p>You can leave a message using the contact form below.</p>
	<p><?php echo $this->message ?></p>
	 <?php
		 $form->setAttribute('action', $this->basePath().'/contact/index');
		 $form->prepare();
		 echo $this->form()->openTag($form);
		 echo $this->formRow($form->get('name'));
		 echo $this->formRow($form->get('email'));
		 echo $this->formRow($form->get('subject'));
		 echo $this->formRow($form->get('message'));
		 echo $this->formRow($form->get('captcha'));
		 echo $this->formSubmit($form->get('submit'));
		 echo $this->form()->closeTag();?>
</div>
<div id="right-col">
 
<div class="widget">
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<!-- FreeclinicDirectory Responsive -->
	<ins class="adsbygoogle"
	     style="display:block"
	     data-ad-client="ca-pub-8651736830870146"
	     data-ad-slot="4020308378"
	     data-ad-format="auto"></ins>
	<script>
	(adsbygoogle = window.adsbygoogle || []).push({});
	</script>
</div>
</div>
