html, body, h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
}
body {
    background-color: #85ADFF;
    text-align: center;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 13px ;
    color: #191919;
    padding: 5px 0 5px 0;
}
img {
	border: 0;
}
a {
    color: #464544;
}
a:hover {
    color: #FFA405;
}
.left {
    float: left;
}
.right {
    float: right;
}
.more {
    text-align: right;
}
.clear {
    clear: both;
}
/** layout **/
#wrapper {
    margin: 0px auto;
    text-align: left;
    width: 960px;
}
/** header **/
#header {
  padding-top: 1px;
  position: relative;
}
#nav-top {
  margin-left: 503px;
}
#nav-top ul {
  margin: 1em 0 0 0;
  padding: 0;
  height: 31px;
}
#nav-top li {
  float: left;
  background: #C19855 url(../images/tab_left.gif) no-repeat;
  list-style: none;
  text-align: center;
  font-size: 18px;
  height: 31px;
  line-height: 31px;
}
#nav-top li div {
  background: top right url(../images/tab_right.gif) no-repeat;
}
#nav-top li#tab-faq {
  width: 59px;
}
#nav-top li#tab-map {
  width: 99px;
  margin-left: 3px;
}
#nav-top a {
  color: #443816;
  text-decoration: none;
}
#nav-top a:hover {
  color: #241D0A;
}
#nav a.bg {
	background: url(../img/freeclinic.jpg) no-repeat;
	height:244px;
	float:left;
	width:100%;
}
#nav .title{
    font-size: 50px;
    font-family:sans-serif;
    top:90px;
    color:#FF0000;
    position:absolute;
    font-style:italic;
    font-weight: bold;
    line-height: 60px;
	padding: 0 0 0 0.7em;
  	margin: -1em 0 0 0;
}
#nav ul {
  margin: 0;
  padding: 0;
  height: 36px;
  line-height: 36px;
  border-left: 2px solid #9E9479;
  background: bottom left url(../img/nav_lit.gif) repeat-x;
  clear:both; /* ADDED BY MOIN */
}
#nav li {
  list-style: none;
  float: left;
  margin: 0;
  padding: 0 10px;
}
#nav li.home {
  background: bottom left url(../img/nav_drk.gif) repeat-x;
  padding-left: 25px;
}
#nav a {
  font-size: 16px;
  color: #FFE5C3;
  text-decoration: none;
}
#nav a:hover {
  color: #F2E7D6;
}
/** content **/
#content {
  background: #fff;
  width:960px;
}
#content h1 {
  font-size: 26px;
  color: #6BB224;
  font-weight: normal;
  border-left: 3px solid #615331;
  padding: 1px 1px 1px 8px;
  margin-top: 22px;
}
#content h2 {
  font-size: 22px;
  color: #6BB224;
  font-weight: normal;
  border-left: 3px solid #615331;
  padding: 1px 1px 1px 8px;
  margin-top: 22px;
}
#content p {
  margin-left: 11px;
  line-height: 1.4;
}
#content a {
  color: #8D692D;
  font-weight: bold;
  text-decoration: none;
}
#content a:hover {
  color: #5B431A;
}
#left-col {
  float: left;
  width: 600px;
  display:inline;
  margin: 20px 10px 20px 20px;
}
#right-col {
  float: left;
  width: 300px;
  margin: 20px 10px 20px 20px;
}
#gallery {
  margin-top: 14px;
}
#gallery .box {
  float: left;
  width: 119px;
  padding: 0 23px 2.3em 23px;
  margin-right: 1px;
  background: #615331;
  position: relative;
}
#gallery .box h3 {
  text-align: center;
  line-height: 23px;
  font-size: 23px;
  color: #fff;
  height: 23px;
  margin-bottom: 20px;
  background: top center url(../images/tab_drk.gif) no-repeat;
}
#gallery .box p {
  margin: 1em 0;
  padding: 0;
  line-height: 1.4;
}
#gallery .box .more {
  height: 18px;
  line-height: 18px;
  background: #978040 top left url(../images/moretab_left_drk.gif) no-repeat;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 3.2em;
  padding-right: 4px;
  margin-bottom: 0;
}
#gallery .box .more a {
  color: #4C330D;
}
#gallery .box .more a:hover {
  color: #291B06;
}
#gallery .box-lit {
  background: #735220;
}
#gallery .box-lit h3 {
  background: top center url(../images/tab_lit.gif) no-repeat;
}
#gallery .box-lit .more {
  background: #B4A26D top left url(../images/moretab_left_lit.gif) no-repeat;
}
#content .right-col li, #content .right-col ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#content .right-col li {
  border-left: 1px solid #615331;
  padding-left: 9px;
  margin: 10px;
}
#content .right-col a {
  font-size: 12px;
  font-weight: normal;
  color: #67450D;
}
#content .right-col a:hover {
  color: #2C1D04;
}
/** later **/
#later {
  color: #564929;
}
#later h2 {
  font-size: 20px;
}
#later .right-col p {
  font-size: 12px;
  line-height: 1.7;
}
#later .box {
  float: left;
  width: 85px;
}
#later .box a {
    text-decoration:underline;
}
#later #later-b1 {
  padding-top: 67px;
  margin-right: 4px;
}
#later #later-b2 {
  width: 155px;
  margin-right: 4px;
}
#later #later-b3 {
  width: 114px;
  margin-right: 6px;
}
#later #later-b4 {
  padding-top: 67px;
  width: 137px;
}
#footc {
  height: 2px;
}
#footer {
  background: #A6D17C;
  text-align: center;
  color: #FF4D94;
  padding: 14px;
}
input.button{	
	display:inline-block;
	height:24px;
	padding:0px 10px 0px 10px;
	background-image:url(../images/button.jpg);
	background-repeat:repeat-x;
	color:#fff;
	border:#5484bf solid 1px;
	text-transform:uppercase;
	font-size:10px;
	cursor:pointer;
}
a.button {
	float:left;
	display:inline-block;
	height:18px;
	padding:4px 10px 0px 10px;
	background-image:url(../images/button.jpg);
	background-repeat:repeat-x;
	color:#fff;
	border:#bbddff solid 1px;
	text-transform:uppercase;
	margin:0px 10px 0px 0px;
}
/* ADDED BY MOIN */
.mobilemenu, .mobilemap, .mobilesharing, .locationmap {
	display:none;
}
#left-col dt, #left-col dd {
	width:70%;
	float:left;
	margin:0px;
}
#left-col dd {
	width:100%;
}
#left-col dd input, #left-col textarea, #left-col select {
	width:100%;
	float:left;
	margin:5px 0px;
}
#left-col #login dt {
	width:40%;
}
#left-col #login dd {
	width:60%;
}
ul.errors {
float:left;
}

#users {
    display: grid;
    line-height: 31px;
}
.input-style{
    width:55%;
    float: right;
}
.input-button
{
    width: 56%;
    margin-left: 265px;
}
#contact{
    display: block;
    line-height: 24px;
    width: 600px;
}
#contact > label > input{
    width:600px;
}
#contact > input[type=submit]{
    width: 604px;
    margin-top: 12px;
}
#signup{
    display: block;
    line-height: 24px;
    width: 600px;
}

#signup input,select{
    width: 570px;
}
.input-signup-button{
  margin-top: 20px;
  width: 600px!important;
}
#accountinfo{
      margin-top: 13px;
}
#logininfo{
    margin-top: 20px;
}
.right-form{
  line-height: 20px;
}
.btn-login{
  margin-top:10px;
}
#addlisting input,select{
 width:570px;
}
#addlisting textarea{
 width:567px;
}
#addlisting{
  line-height: 20px;
}
.input-addlist-button{
    margin-top: 20px;
    width: 600px!important;
}
   
