@media only screen and (min-width:320px) and (max-width: 359px) {
body {
	padding:0px;
	overflow-x:hidden;
}

#wrapper, #header, #nav, #content, #left-col iframe {
	width:100%;
}

#right-col iframe {
	width:100% !important;
}

#header {
	padding-top:0px;
}

#nav a.bg {
	background-size:cover;
	background-position:center;
	height:120px;
}
#nav .title{
    font-size: 40px;
    top:50px;
    line-height: 60px;
}
#nav ul {
	float:left;
	clear:both;
	display:none;
	width:100%;
	top:135px;
	background:#9E9479;
	height:auto;
	z-index:9;
}

#nav ul li.home {
	padding-left:5%;
}

#nav ul li {
	width:45%;
	float:left;
	clear:none;
	padding:0px 0px 0px 5%;
}

#nav ul li a {
	font-size:12px;
}

.mobilemenu {
	display:block;
	float:right;
	padding:10px 3%;
	width:94%;
	background:#9E9479;
}

.mobilemenu img {
	float:right;
}

#left-col, #right-col {
	width:94%;
	margin:0px 3%;
	margin-top:10px;
}

#left-col map {
	display:none;
}

#left-col .mobilemap, #left-col .locationmap {
	display:block
}

#content table.widget, #left-col table {
	width:100% !important;
}

#content table.widget td {
	width:94% !important;
	margin:3% 3% !important;
	display:block !important;
	float:left !important;
}

#content table.widget td[colspan="2"] {
	width:100% !important;
}

#content table.widget td img {
	width:100% !important;
}

#content table.widget p {
	margin-left:0px;
}

#content #left-col table.widget td {
	width:45% !important;
	margin:0% !important;
	float:left;
}

#content #left-col table.widget td[colspan="2"] {
	width:100% !important;
}

#content .sharing {
	display:none;
}

#content .mobilesharing {
	display:block;
}

#left-col dt, #left-col dd, #left-col #login dt, #left-col #login dd {
	width:100%;
}

#left-col #pano, #left-col iframe, #left-col #mymapcontroldiv {
	width:100% !important;
}

#content table.widget td.noads {
	display:none !important;
}

#content #left-col ins ins, #content #left-col ins, #content #left-col #adcontainer1, #recaptcha_widget_div {
	width:100% !important;
	overflow:hidden !important;
}

#content table.widgetized td {
	width:100% !important;
}
}

@media only screen and (min-width:360px) and (max-width: 479px) {
body {
	padding:0px;
	overflow-x:hidden;
}

#wrapper, #header, #nav, #content, #left-col iframe {
	width:100%;
}

#right-col iframe {
	width:100% !important;
}

#header {
	padding-top:0px;
}

#nav a.bg {
	background-size:cover;
	background-position:center;
	height:120px;
}
#nav .title{
    font-size: 40px;
    top:50px;
    line-height: 60px;
}
#nav ul {
	float:left;
	clear:both;
	display:none;
	width:100%;
	top:146px;
	background:#9E9479;
	height:auto;
	z-index:9;
}

#nav ul li.home {
	padding-left:5%;
}

#nav ul li {
	width:45%;
	float:left;
	clear:none;
	padding:0px 0px 0px 5%;
}

#nav ul li a {
	font-size:12px;
}

.mobilemenu {
	display:block;
	float:right;
	padding:10px 3%;
	width:94%;
	background:#9E9479;
}

.mobilemenu img {
	float:right;
}

#left-col, #right-col {
	width:94%;
	margin:0px 3%;
	margin-top:10px;
}

#left-col map {
	display:none;
}

#left-col .mobilemap, #left-col .locationmap {
	display:block
}

#content table.widget, #left-col table {
	width:100% !important;
}

#content table.widget td {
	width:94% !important;
	margin:3% 3% !important;
	display:block !important;
	float:left !important;
}

#content table.widget td img {
	width:100% !important;
}

#content table.widget p {
	margin-left:0px;
}

#content #left-col table.widget td {
	width:45% !important;
	margin:0% !important;
	float:left;
}

#content #left-col table.widget td[colspan="2"] {
	width:100% !important;
}

#content .sharing {
	display:none;
}

#content .mobilesharing {
	display:block;
}

#left-col dt, #left-col dd, #left-col #login dt, #left-col #login dd {
	width:100%;
}

#left-col #pano, #left-col iframe, #left-col #mymapcontroldiv {
	width:100% !important;
}

#content table.widget td.noads {
	display:none !important;
}

#content #left-col ins ins, #content #left-col ins, #content #left-col #adcontainer1, #recaptcha_widget_div {
	width:100% !important;
	overflow:hidden !important;
}

#content table.widgetized td {
	width:100% !important;
}
}

@media only screen and (min-width:480px) and (max-width: 567px) {
body {
	padding:0px;
	overflow-x:hidden;
}

#wrapper, #header, #nav, #content, #left-col iframe {
	width:100%;
}

#right-col iframe {
	width:100% !important;
}

#header {
	padding-top:0px;
}

#nav a.bg {
	background-size:cover;
	background-position:center;
	height:123px;
}
#nav .title{
    font-size: 40px;
    top:50px;
    line-height: 60px;
}
#nav ul {
	float:left;
	clear:both;
	display:none;
	width:100%;
	top:178px;
	background:#9E9479;
	height:auto;
	z-index:9;
}

#nav ul li.home {
	padding-left:5%;
}

#nav ul li {
	width:45%;
	float:left;
	clear:none;
	padding:0px 0px 0px 5%;
}

#nav ul li a {
	font-size:12px;
}

.mobilemenu {
	display:block;
	float:right;
	padding:10px 3%;
	width:94%;
	background:#9E9479;
}

.mobilemenu img {
	float:right;
}

#left-col, #right-col {
	width:94%;
	margin:0px 3%;
	margin-top:10px;
}

#content table.widget, #left-col table {
	width:100% !important;
}

#content table.widget td {
	width:94% !important;
	margin:3% 3% !important;
	display:block !important;
	float:left !important;
}

#content table.widget td img {
	width:100% !important;
}

#content table.widget p {
	margin-left:0px;
}

#content #left-col table.widget td {
	width:45% !important;
	margin:0% !important;
	float:left;
}

#content #left-col table.widget td[colspan="2"] {
	width:100% !important;
}

#content .sharing {
	display:none;
}

#content .mobilesharing {
	display:block;
}

#left-col dt, #left-col dd {
	width:100%;
}

#left-col #pano, #left-col iframe, #left-col #mymapcontroldiv {
	width:100% !important;
}

#content table.widget td.noads {
	display:none !important;
}

#content #left-col ins ins, #content #left-col ins, #content #left-col #adcontainer1, #recaptcha_widget_div {
	width:100% !important;
	overflow:hidden !important;
}

#content table.widgetized td {
	width:100% !important;
}
}

@media only screen and (min-width:568px) and (max-width:679px) {
body {
	padding:0px;
	overflow-x:hidden;
}

#wrapper, #header, #nav, #content, #left-col iframe {
	width:100%;
}

#right-col iframe {
	width:100% !important;
}

#header {
	padding-top:0px;
}

#nav a.bg {
	background-size:cover;
	background-position:center;
	height:150px;
}
#nav .title{
    font-size: 45px;
    top:50px;
    line-height: 60px;
}
#nav ul {
	float:left;
	clear:both;
	display:none;
	width:100%;
	top:205px;
	background:#9E9479;
	height:auto;
	z-index:9;
}

#nav ul li.home {
	padding-left:5%;
}

#nav ul li {
	width:28%;
	float:left;
	clear:none;
	padding:0px 0px 0px 5%;
}

#nav ul li a {
	font-size:12px;
}

.mobilemenu {
	display:block;
	float:right;
	padding:10px 3%;
	width:94%;
	background:#9E9479;
}

.mobilemenu img {
	float:right;
}

#left-col, #right-col {
	width:94%;
	margin:0px 3%;
	margin-top:10px;
}

#content table.widget {
	width:94% !important;
	margin:0% 3% !important;
}

#content table.widget td {
	width:43% !important;
	margin:3% 3% !important;
	display:block !important;
	float:left !important;
}

#content table.widget td[colspan="2"] {
	width:100% !important;
}

#content table.widget td img {
	width:100% !important;
}

#content table.widget p {
	margin-left:0px;
}

#content table.widget td img {
	width:100% !important;
}

#content #left-col table.widget td {
	width:24% !important;
	margin:0% !important;
}

#content #left-col table.widget td[colspan="2"] {
	width:100% !important;
}

#content table.widget p {
	margin-left:0px;
}

#content .sharing {
	display:none;
}

#content .mobilesharing {
	display:block;
}

#left-col dt, #left-col dd {
	width:100%;
}

#left-col #pano, #left-col iframe, #left-col #mymapcontroldiv {
	width:100% !important;
}

#content table.widget td.noads {
	display:none !important;
}

#content #left-col ins ins, #content #left-col ins, #content #left-col #adcontainer1 {
	width:100% !important;
	overflow:hidden !important;
}

#content table.widgetized td {
	width:100% !important;
}
}

@media only screen and (min-width:680px) and (max-width: 767px) {
body {
	padding:0px;
	overflow-x:hidden;
}

#wrapper, #header, #nav, #content, #left-col iframe {
	width:100%;
}

#right-col iframe {
	width:100% !important;
}

#header {
	padding-top:0px;
}

#nav a.bg {
	background-size:cover;
	background-position:center;
	height:190px;
}
#nav .title{
    font-size: 50px;
    top:50px;
    line-height: 60px;
}
#nav ul {
	float:left;
	clear:both;
	display:none;
	width:100%;
	top:245px;
	background:#9E9479;
	height:auto;
	z-index:9;
}

#nav ul li.home {
	padding-left:5%;
}

#nav ul li {
	width:28%;
	float:left;
	clear:none;
	padding:0px 0px 0px 5%;
}

#nav ul li a {
	font-size:12px;
}

.mobilemenu {
	display:block;
	float:right;
	padding:10px 3%;
	width:94%;
	background:#9E9479;
}

.mobilemenu img {
	float:right;
}

#left-col, #right-col {
	width:94%;
	margin:0px 3%;
	margin-top:10px;
}

#content table.widget {
	width:94% !important;
	margin:0% 3% !important;
}

#content table.widget td {
	width:50% !important;
	margin:0% !important;
}

#content table.widget td[colspan="2"] {
	width:100% !important;
}

#content table.widget td img {
	width:100% !important;
}

#content table.widget p {
	margin-left:0px;
}

#content .sharing {
	display:none;
}

#content .mobilesharing {
	display:block;
}

#left-col dt, #left-col dd {
	width:100%;
}

#content table.widget td.noads {
	display:none !important;
}
}

@media only screen and (min-width:768px) and (max-width:799px) {
body {
	padding:0px;
	overflow-x:hidden;
}

#wrapper, #header, #nav, #content, #left-col iframe {
	width:100%;
}

#right-col iframe {
	width:100% !important;
}

#header {
	padding-top:0px;
}

#nav a.bg {
	background-size:cover;
	background-position:center;
	height:200px;
}
#nav .title{
    font-size: 50px;
    top:50px;
    line-height: 60px;
}
#nav ul {
	float:left;
	clear:both;
	display:block;
	width:100%;
	z-index:9;
}

#nav ul li.home {
	padding-left:5px;
}

.mobilemenu {
	display:none;
}

#left-col {
	width:65%;
	margin:0px 1%;
	margin-top:10px;
}

#right-col {
	width:30%;
	margin:0px 1%;
	margin-top:10px;
}

#content table.widget {
	width:98% !important;
	margin:0% 1% !important;
}

#content table.widget td {
	width:50% !important;
	padding:1% 0% !important;
}

#content table.widget td[colspan="2"] {
	width:100% !important;
}

#content table.widget td img {
	width:100% !important;
}

#content table.widget p {
	margin-left:0px;
}

#content .sharing {
	display:block;
}

#content .mobilesharing {
	display:none;
}

#left-col dt, #left-col dd {
	width:100%;
}
}

@media only screen and (min-width:800px) and (max-width: 967px) {
body {
	padding:0px;
	overflow-x:hidden;
}

#wrapper, #header, #nav, #content, #left-col iframe {
	width:100%;
}

#right-col iframe {
	width:100% !important;
}

#header {
	padding-top:0px;
}

#nav a.bg {
	background-size:cover;
	background-position:center;
	height:200px;
}
#nav .title{
    font-size: 50px;
    top:50px;
    line-height: 60px;
}
#nav ul {
	float:left;
	clear:both;
	display:block;
	width:100%;
	z-index:9;
}

#nav ul li.home {
	padding-left:5px;
}

.mobilemenu {
	display:none;
}

#left-col {
	width:65%;
	margin:0px 1%;
	margin-top:10px;
}

#right-col {
	width:30%;
	margin:0px 1%;
	margin-top:10px;
}

#content table.widget {
	width:98% !important;
	margin:0% 1% !important;
}

#content table.widget td {
	width:50% !important;
	padding:1% 0% !important;
}

#content table.widget td[colspan="2"] {
	width:100% !important;
}

#content table.widget td img {
	width:100% !important;
}

#content table.widget p {
	margin-left:0px;
}

#content .sharing {
	display:block;
}

#content .mobilesharing {
	display:none;
}

#left-col dt, #left-col dd {
	width:100%;
}
}