<div id="left-col">
	<a href="/">Home</a> &gt;&gt; Add New Clinic Listing
	<?php if ($this->message != null) :?>
	<p><?php echo $this->message ?></p>
	<?php endif;?>
	
	<!-- ===Form start==== -->
	<?php
		 $form->setAttribute('action', $this->basePath().'/clinic/new');
		 $form->prepare();
         echo $this->form()->openTag($form); ?>

         <fieldset id="logininfo">
         <legend>Clinic Location Information:</legend>
         <?php
		 echo $this->formRow($form->get('name'));
		 echo $this->formRow($form->get('address'));
		 echo $this->formRow($form->get('address2'));
		 echo $this->formRow($form->get('city'));
		 echo $this->formRow($form->get('country'));
		 echo $this->formRow($form->get('state')).'<br>';
		 echo $this->formRow($form->get('postal'));
		 ?>
		</fieldset>

        <fieldset id="accountinfo">
        <legend>Contact Information:</legend>
        <?php
		 echo $this->formRow($form->get('contact_name'));
		 echo $this->formRow($form->get('phone'));
		 echo $this->formRow($form->get('fax'));
		 echo $this->formRow($form->get('email'));
		 echo $this->formRow($form->get('website'));
		 ?>
		</fieldset>

		<fieldset id="accountinfo">
        <legend>Services and Details Information:</legend>
        <?php
		 echo $this->formRow($form->get('type')).'<br>';
		 echo $this->formRow($form->get('details')).'<br>';
		 echo $this->formRow($form->get('has_medical')).'<br>';
		 echo $this->formRow($form->get('has_dental')).'<br>';
		 echo $this->formRow($form->get('services'));
		 echo $this->formRow($form->get('remarks'));
		 ?>
		</fieldset>
		<br>
		<div class="g-recaptcha" data-sitekey="6LeCw0MUAAAAAANanqWoFxJj8D4Nh8_6rihZxmn7"></div>
         <?php
		 echo $this->formSubmit($form->get('submit'));
		 echo $this->form()->closeTag(); 
	?>
	<!-- ===Form end==== -->

</div>
<div id="right-col">
 
<div class="widget">
			<font color="red"><strong>Welcome <?php echo "Username (username when login)"; ?></strong></font><br/>
			<a href="" title="Log Out">Logout <?php echo "Firstname(user first name)" ?></a><br/><br/>
		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<!-- FreeclinicDirectory Responsive -->
	<ins class="adsbygoogle"
	     style="display:block"
	     data-ad-client="ca-pub-8651736830870146"
	     data-ad-slot="4020308378"
	     data-ad-format="auto"></ins>
	<script>
	(adsbygoogle = window.adsbygoogle || []).push({});
	</script>
	<script src='https://www.google.com/recaptcha/api.js'></script>
</div>
</div>
