<div style="text-align: center;margin-bottom:20px;" >
<h3>
	<?php echo $this->message; ?>
</h3>
<a href="<?php echo $this->basePath(); ?>/admin" title="Free Medical and Dental Clinics">BACK TO HOME</a>
<br>
<br>
</div>