<div >
<br/>
	<a href="/">Home</a>  &gt;&gt; <a href="/admin">Admin</a>  &gt;&gt; Reviews
	<h2>New Reviews</h2>
	<table width="100%">
		<tr class="d<?php echo $i % 2; $i++; ?>">
			<th >Details</th>
			<th >Comments</th>
			<th colspan="3" align="center">Action</th>
		</tr>
		<?php $i = 0; foreach ($this->reviews as $review): ?>
		<tr class="d<?php echo $i % 2; $i++; ?>">
			<td width="25%">
				<a target="_blank" href="/clinics/detail?id=<?php echo $review->clinic_id ?>"><?php echo $review->name?></a><br/>
				<?php echo $review->email ?> <br/>
				<?php echo $review->created ?><br/>
				<?php echo $review->ip_address ?>
			</td>
			<td width="45%">
				<?php if($review->approved == 0): ?>
					<?php echo $review->comment ?>
				<?php else: ?>
					<?php echo substr($review->comment,0,200) ?>
				<?php endif;?>
			</td>
			<td>
				
				<?php if($review->approved == 0): ?>
					<form method="post" action="/admin/approve">
						<input type="hidden" name="rid" value="<?php echo $review->id?>"/>
						<input type="hidden" name="type" value="REVIEW"/>
						<input type="submit" name="update" value="Approve"/>
					</form>
				<?php endif;?>
			</td>
			<td>
				<form method="post" action="/admin/disapprove">
					<input type="hidden" name="rid" value="<?php echo $review->id?>"/>
					<input type="hidden" name="type" value="REVIEW"/>
					<input type="submit" name="update" value="Not Approve"/>
				</form>
			</td>
			<td>
				<form method="post" action="/admin/delete">
					<input type="hidden" name="rid" value="<?php echo $review->id?>"/>
					<input type="hidden" name="type" value="REVIEW"/>
					<input type="submit" name="update" value="Delete"/>
				</form>
			</td>
		</tr>
		<?php endforeach;?>
	</table><br />
	
</div>
