<div >
<br/>
	<a href="/">Home</a>  &gt;&gt; Admin <br/>
	<br/>

	<a href="<?php echo $this->basePath(); ?>/admin/review">Reviews Admin</a>
	<br/>
	<h2>New Clinic Listings</h2> 
	<table width="100%">
		<tr class="d<?php echo $i % 2; $i++; ?>">
			<th >Name</th>
			<th >Address</th>
			<th colspan="3" align="center">Action</th>
		</tr>
		<?php $i = 0; foreach ($this->clinics as $clinics): ?>
		<tr class="d<?php echo $i % 2; $i++; ?>">
			<td width="30%">
				<a target="_blank" href="/detail/<?php echo $clinics->filename ?>.html"><?php echo $clinics->name ?></a><br/>
				<?php echo $clinics->phone ?>
			</td>
			<td width="30%">
				<?php echo $clinics->address  ?> <br />
				<?php echo $clinics->city . ", " . $clinics->state . " " . $clinics->postal ?>
			</td>
			<td>
				<form method="post" action="<?php echo $this->basePath(); ?>/admin/approve">
					<input type="hidden" name="pid" value="<?php echo $clinics->id?>"/>
					<input type="submit" name="update" value="Approve"/>
				</form>
			</td>
			<td>
				<form method="post" action="<?php echo $this->basePath(); ?>/admin/disapprove">
					<input type="hidden" name="pid" value="<?php echo $clinics->id?>"/>
					<input type="submit" name="update" value="Not Approve"/>
				</form>
			</td>
			<td>
				<form method="post" action="<?php echo $this->basePath(); ?>/admin/delete">
					<input type="hidden" name="pid" value="<?php echo $clinics->id?>"/>
					<input type="submit" name="update" value="Delete"/>
				</form>
			</td>
		</tr>
		<?php endforeach;?>
	</table><br />
	<h2>New updates</h2>
	<table width="100%">
		<tr class="d<?php echo $i % 2; $i++; ?>">
			<th >Name</th>
			<th >Address</th>
			<th >Phone</th>
		</tr>	
		<?php $i = 0; foreach ($this->cliniclogs as $clinicLog): ?>
		<tr class="d<?php echo $i % 2; $i++; ?>">
			<td width="40%">
				<a href="/admin/compare?logid=<?php echo $clinicLog->id ?>"><?php echo $clinicLog->name ?></a>
			</td>
			<td >
				<?php echo $clinicLog->address ?>
			</td>
			<td >
				<?php echo $clinicLog->phone  ?>
			</td>
		</tr>
		<?php endforeach;?>
	</table><br />
	<h2>New Images</h2>
	<table width="100%">
		<tr class="d<?php echo $i % 2; $i++; ?>">
			<th >Name</th>
			<th >Image</th>
			<th colspan="3" align="cenetr">Action</th>
		</tr>
		<?php $i = 0; foreach ($this->images as $image): ?>
		<tr class="d<?php echo $i % 2; $i++; ?>">
			<td width="35%">
				<a target="_blank" href="/rental_detail/<?php echo $image->property_id ?>"><?php echo $image->imagename?></a><br/>
				<?php echo $image->altname ?><br/>
			</td>
			<td width="35%">
				<img src="/static/images/property/<?php echo $image->property_id ?>/<?php echo $image->imagename ?>" border="0" width="200" height="150" alt="<?php echo $image->altname ?>"
				onClick="window.open('/static/images/property/<?php echo $image->property_id ?>/<?php echo $image->imagename ?>','mywindow','width=640,height=480,scrollbars=no,location=no')" style="cursor:pointer;"/>
			</td>
			<td>
				<?php if($image->approved == 0): ?>
					<form method="post" action="/admin/approve">
						<input type="hidden" name="id" value="<?php echo $image->id?>"/>
						<input type="hidden" name="type" value="IMAGE"/>
						<input type="hidden" name="url" value="<?php echo $_SERVER["REQUEST_URI"] ?>"/>
						<input type="submit" name="update" value="Approve"/>
					</form>
				<?php endif;?>
			</td>
			<td>
				<form method="post" action="/admin/disapprove">
					<input type="hidden" name="id" value="<?php echo $image->id?>"/>
					<input type="hidden" name="type" value="IMAGE"/>
					<input type="hidden" name="url" value="<?php echo $_SERVER["REQUEST_URI"] ?>"/>
					<input type="submit" name="update" value="Not Approve"/>
				</form>
			</td>
			<td>
				<?php if($image->approved == 0): ?>
					<form method="post" action="/admin/delete">
						<input type="hidden" name="id" value="<?php echo $image->id?>"/>
						<input type="hidden" name="type" value="IMAGE"/>
						<input type="hidden" name="url" value="<?php echo $_SERVER["REQUEST_URI"] ?>"/>
						<input type="submit" name="update" value="Delete"/>
					</form>
				<?php endif;?>
			</td>
		</tr>
		<?php endforeach;?>
	</table><br />
	
</div>
