<?= $this->doctype() ?>

<html lang="en">
    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <?= $this->headMeta()->setName($this->metaName, $this->metaDesc);
        ?>
        <?= $this->headMeta()->setName($this->metaNameopt, $this->metaDescopt);
        ?>
        <?= $this->headTitle($this->myTitle) ?>

        <!-- Le styles -->
        <?= $this->headLink(['rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/favicon.ico'])
            ->prependStylesheet($this->basePath('css/default.css'))
            ->prependStylesheet($this->basePath('css/media.css'))
        ?>

        <!-- Scripts -->
        <?= $this->headScript()
            ->prependFile($this->basePath('js/bootstrap.min.js'))
            ->prependFile($this->basePath('js/main.js'))
            ->prependFile($this->basePath('js/jquery-1.4.2.min.js'))
            ->prependFile($this->basePath('js/tiny_mce/tiny_mce.js'))
            ->prependFile($this->basePath('js/tiny_mce/tiny_mce_activate.js'))
        ?>


        <script type="text/javascript">
    var myPano;
    function initialize() {
        <?php if ($this->lat <> null && $this->lat <> 0): ?>
        var latlng = new google.maps.LatLng(<?php echo $this->lat ?>,<?php echo $this->lng ?>);
        var mapOptions = {
              center: latlng,
              zoom: <?php echo $this->mapzoom ?>,
              mapTypeId: google.maps.MapTypeId.ROADMAP,
              streetViewControl: true
            }; 
        var map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
        var marker = new google.maps.Marker({
            position: latlng, 
            map: map,
            title:"<?php echo $this->apartment->name?>!"
        });
        var panoramaOptions = {
          position: latlng,
          pov: {
            heading: 34,
            pitch: 10,
            zoom: 1
          }
        };
        var nearestLatLng = null;
        var nearestPano = null;
        var client = new google.maps.StreetViewService();
        client.getPanoramaByLocation(latlng, 50, function(result,   status) {
          if (status == google.maps.StreetViewStatus.OK) {
              var panorama = new  google.maps.StreetViewPanorama(document.getElementById("pano"),panoramaOptions);
              map.setStreetView(panorama);
            //nearestPano = result.location.pano;
            //nearestLatLng = result.location.latLng;
          } else {
              document.getElementById("pano").style.display = "none";
          }
        });

        var vemap = new VEMap("mymapcontroldiv");
        vemap.LoadMap(new VELatLong(<?php echo $this->lat ?>, <?php echo $this->lng ?>), //Center point
                    <?php echo $this->mapzoom ?>, //Zoom level
                    VEMapStyle.Birdseye, //Map style
                    false); //Static map? No!

        window.setTimeout(switchMapStyle, 1000);
        
        function switchMapStyle(){
            if(vemap.IsBirdseyeAvailable()==false){
                vemap.SetMapStyle(VEMapStyle.Hybrid); 
            }
        }
        <?php endif;?>
    }
</script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-11548587-17']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

        <script type="text/javascript"> //<![CDATA[ 
        var tlJsHost = ((window.location.protocol == "https:") ? "https://secure.comodo.com/" : "http://www.trustlogo.com/");
        document.write(unescape("%3Cscript src='" + tlJsHost + "trustlogo/javascript/trustlogo.js' type='text/javascript'%3E%3C/script%3E"));
        //]]>
        </script>
    </head>

    <body onload="initialize();">
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
      <div id="wrapper">
            <div id="header">
              <div id="nav">
                <a href="<?php echo $this->basePath(); ?>/" title="Free Medical and Dental Clinics" class="bg"><span class="title">Free Clinic Directory</span></a>
                <div class="mobilemenu">
                        <img src=<?php echo $this->basePath() ."/img/icon_nav.png"; ?> alt="Mobile Menu" />
                    </div>
                <ul>
                    <li class="home"><a href="<?php echo $this->basePath(); ?>/" title="Free Medical and Dental Clinics">HOME</a></li>
                    <li><a href="<?php echo $this->basePath(); ?>/resources" title="Healthcare Resources">RESOURCES</a></li>
                    <li><a href="<?php echo $this->basePath(); ?>/clinic/new" title="Add Free Clinic Listing">ADD LISTING</a></li>
        
                    <li><a href="<?php echo $this->basePath(); ?>/user/signup" title="New Member Signup">SIGN-UP</a></li>
                    <li><a href="<?php echo $this->basePath(); ?>/user/login" title="Log In">LOGIN</a></li>
                    <li><a href="<?php echo $this->basePath(); ?>/admin/logout" title="logout">Logout</a></li>
                    <li><a href="<?php echo $this->basePath(); ?>/admin/welcome" title="admin">ADMIN</a></li>
              
               
                <li><a href="<?php echo $this->basePath(); ?>/contact">CONTACT</a></li>
                <li><a href="<?php echo $this->basePath(); ?>/about" title="About Free Clinic Directory">ABOUT <?php echo $this->admin_login; ?></a></li>
                </ul>
              </div>
              <div class="clear"> </div>
            </div>
            
            <div id="content">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- FreeClinicDirectory All Pages Top Responsive -->
        <style type="text/css">
             .adslot_1 { display:inline-block; height: 90px; }
             @media (max-width:600px) { .adslot_1 { width: 320px; height: 100px; } }             
        </style>
        <ins class="adsbygoogle adslot_1"
             style="display:block"
             data-ad-client="ca-pub-9837560635631576"
             data-ad-slot="9522878843"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>

            <?php
            /*  $this->content;*/
             echo $this->layout()->content ?>
            
              <div class="clear"> </div>
              
            </div>
                
            <div id="footer">
              <?php echo zend_version(); ?>
              Free Clinic Directory &copy;<?php echo date("Y")?><br/>
              <script language="JavaScript" type="text/javascript">
               TrustLogo("<?php echo  "http://localhost".$this->basePath()."/img/comodo_secure_seal_100x85_transp.png"; ?>", "CL1", "none");
              </script>
           
              <a  href="https://ssl.comodo.com" id="comodoTL">Comodo SSL</a>
            </div>

          </div>
    </body>
</html>
