<div id="left-col">
	<a href="/">Home</a>  &gt;&gt; User Login
		<p>Please login.</p>
		<?php if ($this->errorMessage != null) :?>
		<p><?php echo $this->errorMessage ?></p>
		<?php endif;?>
		<?php
		 $form->setAttribute('action', $this->basePath().'/user/index');
		 $form->prepare();
         echo $this->form()->openTag($form);
		 echo $this->formRow($form->get('email'));
		 echo $this->formRow($form->get('password'));
		 echo $this->formSubmit($form->get('submit'));
		 echo $this->form()->closeTag(); ?>
		<br />
		<?php if ($this->errorMessage != null) :?>
		<p>If you forget your password, click <a href="/user/reset">reset password</a>. </p>
		<?php endif; ?>
</div>
<div id="right-col">
 
<div class="widget">
	
</div>
</div>
