<div id="left-col">
	<a href="/">Home</a>   &gt;&gt; Sign Up
	<h2>Sign up now for free to get full access to all clinic information.</h2>
	
	If you are already a member, log in on the right side of the page.
	
	<?php if ($this->message != null) :?>
	<p><?php echo $this->message ?></p>
	<?php endif;?>
	<?php
		 $form->setAttribute('action', $this->basePath().'/user/signup');
		 $form->prepare();
         echo $this->form()->openTag($form); ?>

         <fieldset id="logininfo">
         <legend>Login Information:</legend>
         <?php
		 echo $this->formRow($form->get('email'));
		 echo $this->formRow($form->get('password'));
		 echo $this->formRow($form->get('confirmpassword'));
		 ?>
		</fieldset>

        <fieldset id="accountinfo">
        <legend>Account Information:</legend>
        <?php
		 echo $this->formRow($form->get('firstname'));
		 echo $this->formRow($form->get('lastname'));
		 echo $this->formRow($form->get('address'));
		 echo $this->formRow($form->get('city'));
		 echo $this->formRow($form->get('state')).'<br>';
		 echo $this->formRow($form->get('zipcode'));
		 ?>
		</fieldset>
         <?php
		 echo $this->formSubmit($form->get('submit'));
		 echo $this->form()->closeTag(); ?>
</div>
<div id="right-col">
 
<div class="widget">
	<div class="widget">
			<h2>Login</h2>
			<form id="login" method="post" class="right-form" action="<?php echo $this->basePath(); ?>/user/index">
				<label for="username" class="required">Username (email):</label>
				<input type="text" name="username" id="username" value="" /><br>
				<label for="password" class="required">Password:</label><br>
				<input type="password" name="password" id="password" value="" /><br>
				<input type="submit" name="login" value="Login" class="btn-login" />
			</form>
		</div>
		<div class="widget">
			<h2>Notes:</h2>
			<ol>
				<li>You must be <strong>18 or older</strong> to use our website.</li>
				<li>You must signup with a <strong>valid Email address</strong>. Once you sign up a email will be Immediately be sent to the email address you have signed up with. The email will be sent from FreeClinicDirectory.org</li>
				<li>If you do not see an email from us, please <strong>check your Spam folder or Junk mail folder</strong>.</li>
				<li>Once you have checked your email folders and have <strong>clicked on the Link</strong> from FreeClinicDirectory.org you will be able to log in to your account.</li> 
			</ol>
		</div>
</div>
</div>