<div id="left-col">
	<a href="/">Home</a>  &gt;&gt; About Us
	<h2>About Free Clinic Directory</h2>
	<p>We at Free Clinic Directory are committed to helping you find free and affordable clinics in your area.  With the cost of health care as high as it is and the unprecedented number of Americans who are uninsured, having access to low cost and free clinics may very well be the difference between life and death for some people.</p>  
	<p>If you are looking for a free clinic, the search can be hard—many free clinics don't have much of an internet presence, and looking them up in the Yellow Pages can be cumbersome.  This is why we created Free Clinic Directory—it is a free and easy way to find free clinics in your state.</p>
	<p>We are happy and proud to be able to serve you and others when it comes to locating free clinics.  If you have any questions, please don't hesitate to contact us—your opinion is important!</p>
</div>
<div id="right-col">
 	<script type="text/javascript"><!--
google_ad_client = "ca-pub-8651736830870146";
/* 300x250, created 6/6/11 */
google_ad_slot = "5507651968";
google_ad_width = 300;
google_ad_height = 250;
//-->
</script>
<script type="text/javascript"
src="//pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
</div>
