<div id="left-col">
    <h1>Find Free Clinics and Community Health Centers </h1>
    <p>People without health insurance often find themselves with limited options for affordable healthcare and free dental care, 
        and their lives and health often depend on access to free medical clinics. 
        <strong>Free Clinic Directory</strong> is the premier online destination for uninsured people to connect with affordable and free health 
        clinics in their area. By clicking on a state, a person can find free and affordable clinic listings by county. 
        Each clinic listing comes with a wealth of information, including reviews, services provided and contact information. Clinic administrators can easily add listings to FreeClinicDirectory.org, and people who have used any of the listed clinic services can easily post reviews. 
        Full clinic information is available to people who register for a free account. </p>
    <div align="center">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- FreeClinicDirectory Main 1 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-9837560635631576"
     data-ad-slot="3357788847"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>   
    <map name="map" >
        <img usemap="#map" src="img/usmap.png" width="470" height="309" border="0" alt="Map of in the United States" name="usimage" >
        <area shape="poly" title="Free Medical and Dental Clinics in Hawaii" coords="9,208, 3,207, 9,207, 3,207" href="<?php echo $this->basePath(); ?>/hawaii_care.html" >
        <area shape="poly" title="Free Medical and Dental Clinics in Hawaii" coords="30,217, 23,214, 29,214, 29,217" href="<?php echo $this->basePath(); ?>/hawaii_care.html" >
        <area shape="poly" title="Free Medical and Dental Clinics in Hawaii" coords="51,224, 42,222, 44,220, 50,225" href="<?php echo $this->basePath(); ?>/hawaii_care.html" >
        <area shape="poly" title="Free Medical and Dental Clinics in Hawaii" coords="66,239, 52,244, 52,230, 63,235" href="<?php echo $this->basePath(); ?>/hawaii_care.html" >
        <area shape="poly" title="Free Medical and Dental Clinics in Alaska" coords="135,251, 139,282, 139,285, 114,283, 109,286, 108,281, 99,292, 86,300, 84,300, 95,288, 82,284, 77,274, 87,267, 72,262, 82,257, 77,250, 98,241" href="<?php echo $this->basePath(); ?>/alaska_care.html" >
        <area shape="poly" title="Free Medical and Dental Clinics in Puerto Rico" coords="439,280, 432,285, 415,281, 416,275" href="<?php echo $this->basePath(); ?>/puerto_rico_care.html" >
        <area shape="poly" title="Free Medical and Dental Clinics in Maine" coords="446,25, 455,40, 460,46, 438,66, 435,70, 428,48, 432,37, 435,22" href="<?php echo $this->basePath(); ?>/maine_care.html" >
        <area shape="poly" title="Free Medical and Dental Clinics in Vermont" coords="420,80, 416,77, 415,54, 424,56" href="<?php echo $this->basePath(); ?>/vermont_care.html" >
        <area shape="poly" title="Free Medical and Dental Clinics in New Hampshire" coords="435,74, 424,75, 428,53, 433,75" href="<?php echo $this->basePath(); ?>/new_hampshire_care.html" >
        <area shape="poly" title="Free Medical and Dental Clinics in Rhode Island" coords="438,89, 433,90, 434,83, 435,91" href="<?php echo $this->basePath(); ?>/rhode_island_care.html" >
        <area shape="poly" title="Free Medical and Dental Clinics in Rhode Island" coords="463,99, 462,111, 449,109, 451,97" href="<?php echo $this->basePath(); ?>/rhode_island_care.html" >
        <area shape="poly" title="Free Medical and Dental Clinics in Massachusetts" coords="438,77, 439,81, 444,82, 445,81, 444,87, 435,85, 417,83, 419,80" href="<?php echo $this->basePath(); ?>/massachusetts_care.html" >
        <area shape="poly" title="Free Medical and Dental Clinics in Connecticut" coords="429,94, 418,95, 419,88, 432,87, 431,93" href="<?php echo $this->basePath(); ?>/connecticut_care.html" >
        <area shape="poly" title="Free Medical and Dental Clinics in New York" coords="412,58, 417,100, 407,97, 400,93, 367,96, 379,81, 391,78, 396,61, 407,56" href="<?php echo $this->basePath(); ?>/new_york_care.html" >
        <area shape="poly" title="Free Medical and Dental Clinics in New Jersey" coords="415,105, 418,110, 414,126, 408,114, 409,109, 406,104, 411,100" href="<?php echo $this->basePath(); ?>/new_jersey_care.html" >
        <area shape="poly" title="Free Medical and Dental Clinics in Delaware" coords="463,117, 462,129, 450,128, 451,116" href="<?php echo $this->basePath(); ?>/delaware_care.html" >
        <area shape="poly" title="Free Medical and Dental Clinics in Delaware" coords="408,117, 411,124, 411,129, 406,125, 408,115" href="<?php echo $this->basePath(); ?>/delaware_care.html" >
        <area shape="poly" title="Free Medical and Dental Clinics in Maryland" coords="410,129, 413,131, 411,138, 406,134, 401,123, 403,134, 402,135, 395,131, 388,123, 375,129, 376,123, 406,122" href="<?php echo $this->basePath(); ?>/maryland_care.html" >
        <area shape="poly" title="Free Medical and Dental Clinics in Maryland" coords="463,136, 462,148, 449,146, 451,134" href="<?php echo $this->basePath(); ?>/maryland_care.html" >
        <area shape="poly" title="Free Medical and Dental Clinics in District of Columbia" coords="413,139, 409,146, 413,137, 410,148" href="<?php echo $this->basePath(); ?>/district_of_columbia_care.html" >
        <area shape="poly" title="Free Medical and Dental Clinics in District of Columbia" coords="463,154, 462,166, 450,165, 451,152" href="<?php echo $this->basePath(); ?>/district_of_columbia_care.html" >
        <area shape="poly" title="Free Medical and Dental Clinics in Pennsylvania" coords="407,101, 409,109, 408,114, 397,119, 365,122, 366,97" href="<?php echo $this->basePath(); ?>/pennsylvania_care.html" >
        <area shape="poly" title="Free Medical and Dental Clinics in West Virginia" coords="369,124, 374,126, 377,126, 388,126, 373,142, 366,152, 354,150, 349,141, 354,134, 362,122, 364,115" href="<?php echo $this->basePath(); ?>/west_virginia_care.html" >
        <area shape="poly" title="Free Medical and Dental Clinics in Virginia" coords="396,131, 405,141, 408,148, 410,151, 346,160, 358,153, 371,148, 378,133, 391,124" href="<?php echo $this->basePath(); ?>/virginia_care.html" >
        <area shape="poly" title="Free Medical and Dental Clinics in North Carolina" coords="414,154, 416,166, 408,172, 391,184, 380,178, 356,176, 341,177, 369,159" href="<?php echo $this->basePath(); ?>/north_carolina_care.html" >
        <area shape="poly" title="Free Medical and Dental Clinics in South Carolina" coords="372,178, 390,182, 388,195, 373,207, 350,179" href="<?php echo $this->basePath(); ?>/south_carolina_care.html" >
        <area shape="poly" title="Free Medical and Dental Clinics in Florida" coords="373,226, 385,247, 393,268, 390,283, 386,280, 375,272, 372,267, 367,260, 364,255, 362,245, 347,234, 337,239, 322,233, 316,232, 315,227, 367,225"  href="<?php echo $this->basePath(); ?>/florida_care.html" >
        <area shape="poly" title="Free Medical and Dental Clinics in Georgia" coords="350,182, 374,209, 370,224, 362,228, 337,224, 329,184, 329,181" href="<?php echo $this->basePath(); ?>/georgia_care.html" >
        <area shape="poly" title="Free Medical and Dental Clinics in Alabama" coords="337,217, 335,225, 314,230, 314,234, 306,231, 306,183, 329,185" href="<?php echo $this->basePath(); ?>/alabama_care.html" >
        <area shape="poly" title="Free Medical and Dental Clinics in Tennessee" coords="359,163, 332,181, 287,181, 294,167, 310,165" href="<?php echo $this->basePath(); ?>/tennessee_care.html" >
        <area shape="poly" title="Free Medical and Dental Clinics in Kentucky" coords="349,144, 355,153, 339,163, 294,161, 301,158, 307,153, 321,146, 331,138" href="<?php echo $this->basePath(); ?>/kentucky_care.html" >
        <area shape="poly" title="Free Medical and Dental Clinics in Ohio" coords="362,104, 357,131, 348,141, 328,135, 328,108, 355,103" href="<?php echo $this->basePath(); ?>/ohio_care.html" >
        <area shape="poly" title="Free Medical and Dental Clinics in Indiana" coords="325,111, 325,141, 314,151, 303,151, 311,108" href="<?php echo $this->basePath(); ?>/indiana_care.html" >
        <area shape="poly" title="Free Medical and Dental Clinics in Michigan" coords="334,69, 331,82, 331,86, 338,81, 344,96, 332,107, 311,105, 310,91, 314,72, 324,64" href="<?php echo $this->basePath(); ?>/michigan_care.html" >
        <area shape="poly" title="Free Medical and Dental Clinics in Mississippi" coords="304,186, 300,234, 292,234, 289,230, 275,227, 280,213, 281,193, 289,184" href="<?php echo $this->basePath(); ?>/mississippi_care.html" >
        <area shape="poly" title="Free Medical and Dental Clinics in Illinois" coords="301,106, 304,148, 298,161, 294,162, 290,161, 284,151, 277,139, 272,128, 280,112, 280,102" href="<?php echo $this->basePath(); ?>/illinois_care.html" >
        <area shape="poly" title="Free Medical and Dental Clinics in Wisconsin" coords="277,59, 298,68, 301,73, 306,71, 300,86, 297,102, 272,98, 269,87, 258,76, 262,59, 273,55" href="<?php echo $this->basePath(); ?>/wisconsin_care.html" >
        <area shape="poly" title="Free Medical and Dental Clinics in Louisiana" coords="279,212, 278,223, 277,230, 292,233, 292,237, 288,238, 298,243, 298,250, 291,249, 285,250, 280,249, 272,242, 268,245, 254,242, 254,223, 253,208" href="<?php echo $this->basePath(); ?>/louisiana_care.html" >
        <area shape="poly" title="Free Medical and Dental Clinics in Arkansas" coords="290,173, 281,194, 278,202, 276,208, 251,204, 247,198, 249,169" href="<?php echo $this->basePath(); ?>/arkansas_care.html" >
        <area shape="poly" title="Free Medical and Dental Clinics in Missouri" coords="272,130, 288,155, 291,168, 286,173, 284,171, 245,163, 240,133, 239,126" href="<?php echo $this->basePath(); ?>/missouri_care.html" >
        <area shape="poly" title="Free Medical and Dental Clinics in Iowa" coords="272,94, 275,101, 281,112, 275,118, 268,126, 235,122, 228,101, 232,93" href="<?php echo $this->basePath(); ?>/iowa_care.html" >
        <area shape="poly" title="Free Medical and Dental Clinics in Minnesota" coords="242,31, 251,37, 263,40, 281,44, 268,52, 261,63, 257,73, 260,81, 272,92, 230,90, 229,32, 238,29" href="<?php echo $this->basePath(); ?>/minnesota_care.html" >
        <area shape="poly" title="Free Medical and Dental Clinics in Texas" coords="197,173, 201,194, 239,199, 251,203, 256,227, 251,246, 245,245, 243,248, 240,254, 223,268, 217,288, 213,284, 204,282, 190,257, 187,250, 176,243, 168,245, 162,252, 152,243, 146,230, 135,215, 168,213, 176,169" href="<?php echo $this->basePath(); ?>/texas_care.html" >
        <area shape="poly" title="Free Medical and Dental Clinics in Oklahoma" coords="244,169, 244,200, 199,193, 193,169, 171,165, 244,167" href="<?php echo $this->basePath(); ?>/oklahoma_care.html" >
        <area shape="poly" title="Free Medical and Dental Clinics in Kansas" coords="241,136, 242,164, 181,160, 187,131" href="<?php echo $this->basePath(); ?>/kansas_care.html" >
        <area shape="poly" title="Free Medical and Dental Clinics in Nebraska" coords="228,104, 236,132, 183,126, 181,120, 166,116, 171,98" href="<?php echo $this->basePath(); ?>/nebraska_care.html" >
        <area shape="poly" title="Free Medical and Dental Clinics in South Dakota" coords="228,71, 227,104, 221,100, 169,92, 173,66" href="<?php echo $this->basePath(); ?>/south_dakota_care.html" >
        <area shape="poly" title="Free Medical and Dental Clinics in North Dakota" coords="225,37, 223,67, 172,61, 178,31" href="<?php echo $this->basePath(); ?>/north_dakota_care.html" >
        <area shape="poly" title="Free Medical and Dental Clinics in New Mexico" coords="171,168, 163,217, 118,217, 115,220, 111,216, 124,159" href="<?php echo $this->basePath(); ?>/new_mexico_care.html" >
        <area shape="poly" title="Free Medical and Dental Clinics in Colorado" coords="183,124, 177,163, 120,153, 129,114" href="<?php echo $this->basePath(); ?>/colorado_care.html" >
        <area shape="poly" title="Free Medical and Dental Clinics in Wyoming" coords="169,79, 163,118, 110,108, 119,69" href="<?php echo $this->basePath(); ?>/wyoming_care.html" >
        <area shape="poly" title="Free Medical and Dental Clinics in Montana" coords="174,36, 166,74, 108,72, 101,70, 93,58, 91,58, 90,41, 86,32, 90,19" href="<?php echo $this->basePath(); ?>/montana_care.html" >
        <area shape="poly" title="Free Medical and Dental Clinics in Utah" coords="111,102, 113,112, 125,116, 116,158, 77,148, 91,97" href="<?php echo $this->basePath(); ?>/utah_care.html" >
        <area shape="poly" title="Free Medical and Dental Clinics in Idaho" coords="87,21, 90,41, 93,50, 94,58, 97,60, 101,71, 115,75, 109,99, 65,89, 78,24, 82,18" href="<?php echo $this->basePath(); ?>/idaho_care.html" >
        <area shape="poly" title="Free Medical and Dental Clinics in Nevada" coords="87,99, 72,158, 66,167, 35,113, 44,85" href="<?php echo $this->basePath(); ?>/nevada_care.html" >
        <area shape="poly" title="Free Medical and Dental Clinics in Arizona" coords="119,162, 107,218, 84,211, 62,194, 65,190, 67,181, 71,176, 70,165, 72,158, 77,157, 79,151" href="<?php echo $this->basePath(); ?>/arizona_care.html" >
        <area shape="poly" title="Free Medical and Dental Clinics in California" coords="41,87, 38,121, 71,179, 64,187, 63,193, 39,188, 36,178, 32,173, 15,157, 10,122, 5,101, 8,83, 12,76" href="<?php echo $this->basePath(); ?>/california_care.html" >
        <area shape="poly" title="Free Medical and Dental Clinics in Oregon" coords="32,36, 34,42, 75,50, 73,59, 70,67, 62,90, 10,73, 30,34" href="<?php echo $this->basePath(); ?>/oregon_care.html" >
        <area shape="poly" title="Free Medical and Dental Clinics in Washington" coords="78,23, 72,46, 32,38, 27,29, 30,8, 38,15, 40,18, 45,7" href="<?php echo $this->basePath(); ?>/washington_care.html" >
    </map>
    <br />
    <div class="mobilemap">
        <img usemap="#mobilemap" src="img/usmapmob.png" width="320" height="210" border="0" alt="Map of in the United States" name="usimage" class="usimage" >
        <map name="mobilemap" >
            <area shape="poly" title="Free Medical and Dental Clinics in Hawaii" coords="7,144, 3,138, 7,138, 3,138" href="/hawaii_care.html" >
            <area shape="poly" title="Free Medical and Dental Clinics in Hawaii" coords="21,150, 21,144, 12,144, 21,150" href="/hawaii_care.html" >
            <area shape="poly" title="Free Medical and Dental Clinics in Hawaii" coords="32,152, 28,155, 23,145, 21,152" href="/hawaii_care.html" >
            <area shape="poly" title="Free Medical and Dental Clinics in Hawaii" coords="36,170, 47,162, 36,154, 32,160" href="/hawaii_care.html" >
            <area shape="poly" title="Free Medical and Dental Clinics in Alaska" coords="91,167, 92,192, 95,197, 81,192, 74,196, 63,205, 49,205, 61,197, 53,189, 45,176, 48,177, 47,174, 50,167, 61,162, 71,163, 82,165" href="/alaska_care.html" >
            <area shape="poly" title="Free Medical and Dental Clinics in Puerto Rico" coords="298,193, 297,195, 289,196, 280,190" href="/puerto_rico_care.html" >            
            <area shape="poly" title="Free Medical and Dental Clinics in Maine" coords="314,31, 299,48, 293,41, 290,33, 294,31, 292,15, 300,13, 308,26" href="/maine_care.html" >            
            <area shape="poly" title="Free Medical and Dental Clinics in Vermont" coords="290,33, 288,44, 286,54, 283,50, 278,39" href="/vermont_care.html" >            
            <area shape="poly" title="Free Medical and Dental Clinics in New Hampshire" coords="435,74, 424,75, 428,53, 433,75" href="/new_hampshire_care.html" >            
            <area shape="poly" title="Free Medical and Dental Clinics in Rhode Island" coords="300,55, 293,57, 295,62, 308,77, 314,64" href="/rhode_island_care.html" >            
            <area shape="poly" title="Free Medical and Dental Clinics in Massachusetts" coords="284,61, 284,55, 300,56, 301,56" href="/massachusetts_care.html" >            
            <area shape="poly" title="Free Medical and Dental Clinics in Connecticut" coords="285,62, 294,59, 295,62" href="/connecticut_care.html" >            
            <area shape="poly" title="Free Medical and Dental Clinics in New York" coords="278,39, 251,66, 272,64, 277,71, 3284,68, 283,55" href="/new_york_care.html" >            
            <area shape="poly" title="Free Medical and Dental Clinics in New Jersey" coords="278,70, 276,84, 282, 84" href="/new_jersey_care.html" >            
            <area shape="poly" title="Free Medical and Dental Clinics in Delaware" coords="277,79, 280,82, 277,85" href="/delaware_care.html" >            
            <area shape="poly" title="Free Medical and Dental Clinics in Delaware" coords="305,79, 315,79, 305,91, 315,91" href="/delaware_care.html" >            
            <area shape="poly" title="Free Medical and Dental Clinics in Maryland" coords="255,85, 265,82, 274,80, 277,86, 264,88 " href="/maryland_care.html" >            
            <area shape="poly" title="Free Medical and Dental Clinics in Maryland" coords="305,94, 315,94, 305,106, 315,106" href="/maryland_care.html" >            
            <area shape="poly" title="Free Medical and Dental Clinics in District of Columbia" coords="280,103, 283,87, 278,86, 272,93" href="/district_of_columbia_care.html" >            
            <area shape="poly" title="Free Medical and Dental Clinics in District of Columbia" coords="305,107, 315,107 305,119, 315,119" href="/district_of_columbia_care.html" >            
            <area shape="poly" title="Free Medical and Dental Clinics in Pennsylvania" coords="278,67, 246,68, 246,84, 274,81" href="/pennsylvania_care.html" >            
            <area shape="poly" title="Free Medical and Dental Clinics in West Virginia" coords="261,86, 246,85, 239,95, 240, 103, 255,98" href="/west_virginia_care.html" >
            <area shape="poly" title="Free Medical and Dental Clinics in Virginia" coords="279,102, 236,110, 242,105, 250,105, 256,93, 266,86" href="/virginia_care.html" >            
            <area shape="poly" title="Free Medical and Dental Clinics in North Carolina" coords="282,102, 283,116, 268,126, 231,123, 249,107" href="/north_carolina_care.html" >
            <area shape="poly" title="Free Medical and Dental Clinics in South Carolina" coords="268,126, 250,120, 230,123, 256,142" href="/south_carolina_care.html" >
            <area shape="poly" title="Free Medical and Dental Clinics in Florida" coords="264,196, 269,179, 254,153, 213,157, 237,161"  href="/florida_care.html" >
            <area shape="poly" title="Free Medical and Dental Clinics in Georgia" coords="255,143, 237,122, 221,124, 229,152, 254,154" href="/georgia_care.html" >
            <area shape="poly" title="Free Medical and Dental Clinics in Alabama" coords="228,154, 210,159, 206,126, 223,124" href="/alabama_care.html" >
            <area shape="poly" title="Free Medical and Dental Clinics in Tennessee" coords="194,124, 201,114, 243,110, 229,123" href="/tennessee_care.html" >
            <area shape="poly" title="Free Medical and Dental Clinics in Kentucky" coords="242,104, 238,94, 223,97, 199,112, 230,112" href="/kentucky_care.html" >
            <area shape="poly" title="Free Medical and Dental Clinics in Ohio" coords="238,97, 222,94, 222,74, 247,70, 245,84" href="/ohio_care.html" >
            <area shape="poly" title="Free Medical and Dental Clinics in Indiana" coords="208,105, 207,74, 222,74, 223,96" href="/indiana_care.html" >
            <area shape="poly" title="Free Medical and Dental Clinics in Michigan" coords="228,73, 234,64, 230,56, 224,57, 226,47, 214,46, 208,75" href="/michigan_care.html" >
            <area shape="poly" title="Free Medical and Dental Clinics in Mississippi" coords="205,125, 191,127, 189,156, 206,161" href="/mississippi_care.html" >
            <area shape="poly" title="Free Medical and Dental Clinics in Illinois" coords="207,77, 202,70, 187,70, 185,89, 198,112" href="/illinois_care.html" >
            <area shape="poly" title="Free Medical and Dental Clinics in Wisconsin" coords="201,69, 186,70, 175,40, 203,49" href="/wisconsin_care.html" >
            <area shape="poly" title="Free Medical and Dental Clinics in Louisiana" coords="170,141, 188,143, 188,159, 198,162, 205,173, 172,168" href="/louisiana_care.html" >
            <area shape="poly" title="Free Medical and Dental Clinics in Arkansas" coords="188,144, 167,137, 166,115, 196,118, 187,131, 189,143" href="/arkansas_care.html" >
            <area shape="poly" title="Free Medical and Dental Clinics in Missouri" coords="165,117, 165,97, 160,85, 184,87, 200,114, 193,120" href="/missouri_care.html" >
            <area shape="poly" title="Free Medical and Dental Clinics in Iowa" coords="185,86, 161,85, 156,64, 184,64, 191,76" href="/iowa_care.html" >
            <area shape="poly" title="Free Medical and Dental Clinics in Minnesota" coords="185,63, 157,64, 151,21, 191,30, 175,48, 186,65" href="/minnesota_care.html" >
            <area shape="poly" title="Free Medical and Dental Clinics in Texas" coords="150,197, 121,168, 108,171, 90,147, 115,148, 116,116, 133,117, 135,133, 169,139, 173,169, 151,184" href="/texas_care.html" >
            <area shape="poly" title="Free Medical and Dental Clinics in Oklahoma" coords="116,116, 115,112, 140,111, 166,115, 166,137, 133,133, 134,116" href="/oklahoma_care.html" >
            <area shape="poly" title="Free Medical and Dental Clinics in Kansas" coords="165,115, 124,110, 123,90, 160,91" href="/kansas_care.html" >
            <area shape="poly" title="Free Medical and Dental Clinics in Nebraska" coords="160,90, 125,90, 113,79, 114,68, 153,71" href="/nebraska_care.html" >
            <area shape="poly" title="Free Medical and Dental Clinics in South Dakota" coords="155,71, 114,68, 116,44, 155,46" href="/south_dakota_care.html" >
            <area shape="poly" title="Free Medical and Dental Clinics in North Dakota" coords="156,47, 115,46, 118,22, 151,22" href="/north_dakota_care.html" >
            <area shape="poly" title="Free Medical and Dental Clinics in New Mexico" coords="114,149, 116,111, 80,108, 74,148" href="/new_mexico_care.html" >
            <area shape="poly" title="Free Medical and Dental Clinics in Colorado" coords="122,110, 81,108, 86,79, 124,83" href="/colorado_care.html" >
            <area shape="poly" title="Free Medical and Dental Clinics in Wyoming" coords="112,81, 76,77, 80,48, 114,53" href="/wyoming_care.html" >
            <area shape="poly" title="Free Medical and Dental Clinics in Montana" coords="114,53, 68,47, 59,13, 118,23" href="/montana_care.html" >
            <area shape="poly" title="Free Medical and Dental Clinics in Utah" coords="59,67, 75,70, 75,78, 85,79, 81,108, 51,104" href="/utah_care.html" >
            <area shape="poly" title="Free Medical and Dental Clinics in Idaho" coords="76,69, 45,62, 53,37, 52,13, 60,15, 63,41, 77,57" href="/idaho_care.html" >
            <area shape="poly" title="Free Medical and Dental Clinics in Nevada" coords="47,114, 24,79, 27,58, 59,67" href="/nevada_care.html" >
            <area shape="poly" title="Free Medical and Dental Clinics in Arizona" coords="81,109, 52,103, 41,136, 75,150" href="/arizona_care.html" >
            <area shape="poly" title="Free Medical and Dental Clinics in California" coords="39,135, 47,121, 23,80, 26,58, 6,51, 6,84, 11,115" href="/california_care.html" >
            <area shape="poly" title="Free Medical and Dental Clinics in Oregon" coords="7,51, 42,63, 48,33, 15,28" href="/oregon_care.html" >
            <area shape="poly" title="Free Medical and Dental Clinics in Washington" coords="49,32, 53,13, 17,7, 16,23, 28,30" href="/washington_care.html" >
        </map>
    </div>
    </div>
</div>
<div id="right-col">
 <div class="sharing">
<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style addthis_32x32_style">
<a class="addthis_button_preferred_1"></a>
<a class="addthis_button_preferred_2"></a>
<a class="addthis_button_preferred_3"></a>
<a class="addthis_button_preferred_4"></a>
<a class="addthis_button_compact"></a>
<a class="addthis_counter addthis_bubble_style"></a>
</div>
<script type="text/javascript" src="https://s7.addthis.com/js/250/addthis_widget.js#pubid=childcarecenter"></script><br/>
</div>
<!-- AddThis Button END -->
<iframe src="//www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Ffreeclinics&amp;width=300&amp;height=258&amp;colorscheme=light&amp;show_faces=true&amp;border_color&amp;stream=false&amp;header=false&amp;appId=155446947822305" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:300px; height:258px;" allowTransparency="true"></iframe>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- FreeClinicDirectory Main 2 -->
<ins class="adsbygoogle"
     style="display:inline-block;width:300px;height:250px"
     data-ad-client="ca-pub-9837560635631576"
     data-ad-slot="4834522048"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
<br />
    <table width="98%" class="widget">
    <tr>
        <td colspan="2"><h2>New Medical and Dental Clinic Updates:</h2></td>
    </tr>
    <?php foreach ($this->clinics as $clinicRow): ?>
    <tr>
        <td valign="top">
        <a href="<?php echo $this->basePath(); ?>/detail/<?php echo $clinicRow->filename ?>.html"><strong><?php echo ucwords(strtolower($clinicRow->name)) ?></strong></a><br/>
        <strong>Location:</strong> <?php echo ucwords(strtolower( $clinicRow->city)) . ", " . $clinicRow->state . " - " . $clinicRow->postal ?> <br />
        <strong>Contact Phone</strong>: <?php echo $clinicRow->phone ?><br/>
        <?php if($clinicRow->details<>""):?>
        <strong>Details</strong>: <?php echo strip_tags($clinicRow->details,'<p><a><br>') ?> <br />
        <?php else:?>
        <strong>Services</strong>: <?php echo $clinicRow->services ?> <br />
        <?php endif;?>  
        </td>
        <td >
        <?php if ($clinicRow->logo_url <> ""):?>
        <img src="<?php echo $clinicRow->logo_url?>" alt="<?php echo $clinicRow->name?>" width="156" height="140">
        <?php else:?>
        <img src="https://maps.google.com/maps/api/staticmap?center=<?php echo $clinicRow->address . " " . $clinicRow->city ?>&zoom=15&size=300x200&maptype=roadmap&sensor=true" style="float:left;" />
        <?php endif;?>
        </td>
    </tr>
    <?php endforeach;?>
    </table>
    
    <p>Thank you for using <a href="<?php echo $this->basePath(); ?>/">Free Clinic Directory</a>.  We are constantly enhancing our website to better service you.  
        Please check back frenquently for more updates.  If you have any suggestion, please <a href="<?php echo $this->basePath(); ?>/contact">contact</a> us.  
        We appreciate your business very much.</p>
    
    <div class="mobilesharing">
<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style addthis_32x32_style">
<a class="addthis_button_preferred_1"></a>
<a class="addthis_button_preferred_2"></a>
<a class="addthis_button_preferred_3"></a>
<a class="addthis_button_preferred_4"></a>
<a class="addthis_button_compact"></a>
<a class="addthis_counter addthis_bubble_style"></a>
</div>
<script type="text/javascript" src="https://s7.addthis.com/js/250/addthis_widget.js#pubid=childcarecenter"></script><br/>
</div>