<div id="left-col">
	<a href="/">Home</a>  &gt;&gt; <a href="/resources">Resources</a>  &gt;&gt; <?php echo $this->page->header?>
	<h1><?php echo $this->page->header?></h1><br/>
	<?php echo $this->page->body?>
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- FreeClinicDirectory Resource Detail 2 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-9837560635631576"
     data-ad-slot="9819464841"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
<div id="right-col">
 <div class="sharing">
<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style addthis_32x32_style">
<a class="addthis_button_preferred_1"></a>
<a class="addthis_button_preferred_2"></a>
<a class="addthis_button_preferred_3"></a>
<a class="addthis_button_preferred_4"></a>
<a class="addthis_button_compact"></a>
<a class="addthis_counter addthis_bubble_style"></a>
</div>
<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=childcarecenter"></script><br/>
</div>
<!-- AddThis Button END -->
<?php if (count($this->categories)>0):?>
<h2>Resource Categories</h2>
 <ul>
	<?php foreach ($this->categories as $category): ?>
	<li><a href="/resource-category/<?php echo $category->filename ?>"><?php echo $category->category ?></a></li>
	<?php endforeach;?>
</ul>  
<?php endif;?>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- FreeClinicDirectory All Pages Adlinks -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-9837560635631576"
     data-ad-slot="7348141642"
     data-ad-format="link"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
<iframe src="//www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Ffreeclinics&amp;width=300&amp;height=258&amp;colorscheme=light&amp;show_faces=true&amp;border_color&amp;stream=false&amp;header=false&amp;appId=155446947822305" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:300px; height:258px;" allowTransparency="true"></iframe>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- FreeClinicDirectory Resource Detail 3 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-9837560635631576"
     data-ad-slot="2296198045"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
